<h4>Recently Added Movies</h4>
  <div class="row">
    <% if Movie.all.length > 0; %>
        <% Movie.all.order(created_at: :desc).each do |movie|%>
          <div class="col-xs-5 col-sm-4 col-md-2 col-md-2">
            <a href="/movies/<%=movie.id%>">
            <%=movie.name%>
            <!-- movie.poster_url -->
            <!-- <img src="<%=%>" height="160" width="90"> -->    
          </div>
        <%end%>
    <% else %>
        <div class="col-xs-12"> 
          Please add some Movies
        </div>    
    <%end%>
  </div>
<h4>Recently Added Reviews</h4>
  <div class="row">
    <% if Review.all.length > 0; %>
        <% Review.all.order(created_at: :desc).each do |movie|%>
          <div class="col-xs-5 col-sm-4 col-md-2 col-md-2">
            <!-- <a href="/movies/<%=movie.id%>"> -->
            <%=Review.name%>
            <!-- movie.poster_url -->
            <!-- <img src="<%=%>" height="160" width="90"> -->    
          </div>
        <%end%>
    <% else %>
        <div class="col-xs-12"> 
          Please add some Movies
        </div>    
    <%end%>
  </div>